{% extends 'base.html.twig' %}

{% block title %}Vetux Line - Merge{% endblock %}

{% block main %}
<section class="container">
	<div class="row">
		{{ form_start(mergeForm) }}
		{{ form_row(mergeForm.choice) }}
		{{ form_row(mergeForm.file0) }}
		{{ form_row(mergeForm.file1) }}
		<button class="btn btn-primary">{{ button_label | default("Fusion !") }}</button>
		{{ form_end(mergeForm) }}
	</div>
</section>


{% endblock %}